/Amirhossein.aux
/Amirhossein.bbl
/Amirhossein.bib
/Amirhossein.blg
/Amirhossein.fdb_latexmk
/Amirhossein.fls
/Amirhossein.log
/Amirhossein.pdf
/Amirhossein.synctex.gz
/droopfig.pdf
/droopfig.tex
/max.pdf
/max.tex
/maxp.pdf
/maxp.tex
/powerlimit.pdf
/powerlimit.svg
/rectangle.pdf
/saturation.pdf
/saturation.tex
/saturationg.pdf
/saturationg.tex